 @charset "UTF-8";
 body{
            background-color: rgb(18, 123, 123);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        
        h1{
            color: beige;
            background-color: rgb(12, 70, 40);
        }

        h2{
            color: aquamarine;
        }

        p{
            text-align: justify;
        }

        a{
            color: rgb(255, 4, 163);
        }