@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right,#025939,#027333);
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #012340;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #012340;
    text-align: center;
    text-shadow: 1px 1px 2px #012340;
}

h2 {
    color:#03A63C ;
}
p {
    text-align: justify;
}